<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianlima.application.mapper.qlmservice.XsJiankongMapper">

  <select id="selectCountByUserid" resultType="java.lang.Integer">
    select count(1) from xs_jiankong where cid = #{userid} and totime>#{time} and status = 0
  </select>

</mapper>