<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianlima.application.mapper.qlmservice.ZdyVipMatchFeedbackMapper">
  <resultMap id="BaseResultMap" type="com.qianlima.application.domain.qlmservice.ZdyVipMatchFeedback">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="inttime" jdbcType="INTEGER" property="inttime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mid, cid, status, reason, inttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zdy_vip_match_feedback
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByContentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from zdy_vip_match_feedback
        where mid = #{matchId} and cid = #{contentId}
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zdy_vip_match_feedback
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianlima.application.domain.qlmservice.ZdyVipMatchFeedback">
    insert into zdy_vip_match_feedback (id, mid, cid, 
      status, reason, inttime
      )
    values (#{id,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, #{inttime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qianlima.application.domain.qlmservice.ZdyVipMatchFeedback">
    insert into zdy_vip_match_feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="inttime != null">
        inttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="inttime != null">
        #{inttime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianlima.application.domain.qlmservice.ZdyVipMatchFeedback">
    update zdy_vip_match_feedback
    <set>
      <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="inttime != null">
        inttime = #{inttime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianlima.application.domain.qlmservice.ZdyVipMatchFeedback">
    update zdy_vip_match_feedback
    set mid = #{mid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      inttime = #{inttime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>