<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianlima.application.mapper.qianlima.ZdyDingyueAllMapper">
  <resultMap id="BaseResultMap" type="com.qianlima.application.domain.qianlima.ZdyDingyueAll">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="iprogs" jdbcType="VARCHAR" property="iprogs" />
    <result column="iareas" jdbcType="CHAR" property="iareas" />
    <result column="intime" jdbcType="INTEGER" property="intime" />
    <result column="uptime" jdbcType="INTEGER" property="uptime" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, iprogs, iareas, intime, uptime, userid, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zdy_dingyue_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zdy_dingyue_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianlima.application.domain.qianlima.ZdyDingyueAll">
    insert into zdy_dingyue_all (id, title, iprogs, 
      iareas, intime, uptime, 
      userid, type)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{iprogs,jdbcType=VARCHAR}, 
      #{iareas,jdbcType=CHAR}, #{intime,jdbcType=INTEGER}, #{uptime,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qianlima.application.domain.qianlima.ZdyDingyueAll">
    insert into zdy_dingyue_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="iprogs != null">
        iprogs,
      </if>
      <if test="iareas != null">
        iareas,
      </if>
      <if test="intime != null">
        intime,
      </if>
      <if test="uptime != null">
        uptime,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="iprogs != null">
        #{iprogs,jdbcType=VARCHAR},
      </if>
      <if test="iareas != null">
        #{iareas,jdbcType=CHAR},
      </if>
      <if test="intime != null">
        #{intime,jdbcType=INTEGER},
      </if>
      <if test="uptime != null">
        #{uptime,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianlima.application.domain.qianlima.ZdyDingyueAll">
    update zdy_dingyue_all
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="iprogs != null">
        iprogs = #{iprogs,jdbcType=VARCHAR},
      </if>
      <if test="iareas != null">
        iareas = #{iareas,jdbcType=CHAR},
      </if>
      <if test="intime != null">
        intime = #{intime,jdbcType=INTEGER},
      </if>
      <if test="uptime != null">
        uptime = #{uptime,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianlima.application.domain.qianlima.ZdyDingyueAll">
    update zdy_dingyue_all
    set title = #{title,jdbcType=VARCHAR},
      iprogs = #{iprogs,jdbcType=VARCHAR},
      iareas = #{iareas,jdbcType=CHAR},
      intime = #{intime,jdbcType=INTEGER},
      uptime = #{uptime,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCountByUserid" resultType="java.lang.Integer">
    select count(1) from zdy_dingyue_all where userid = #{userid}
  </select>

  <select id="selectListById" resultMap="BaseResultMap">
    select id,title from zdy_dingyue_all where userid = #{userid}
  </select>

  <select id="selectCountByTitleAndUserid" resultType="java.lang.Integer">
    select count(1) from zdy_dingyue_all where userid = #{userid} and title = #{title}
  </select>

</mapper>