<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianlima.application.mapper.qianlima.ZdyXmZdMapper">
  <resultMap id="BaseResultMap" type="com.qianlima.application.domain.qianlima.ZdyXmZd">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="addtime" jdbcType="INTEGER" property="addtime" />
    <result column="contentid" jdbcType="INTEGER" property="contentid" />
    <result column="datastatus" jdbcType="INTEGER" property="datastatus" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="updatetime" jdbcType="INTEGER" property="updatetime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.qianlima.application.domain.qianlima.ZdyXmZdWithBLOBs">
    <result column="m_text" jdbcType="LONGVARCHAR" property="mText" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, title, addtime, contentid, datastatus, mid, status, updatetime
  </sql>
  <sql id="Blob_Column_List">
    m_text, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zdy_xm_zd
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zdy_xm_zd
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianlima.application.domain.qianlima.ZdyXmZdWithBLOBs">
    insert into zdy_xm_zd (id, uid, title, 
      addtime, contentid, datastatus, 
      mid, status, updatetime, 
      m_text, description)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=INTEGER}, #{contentid,jdbcType=INTEGER}, #{datastatus,jdbcType=INTEGER}, 
      #{mid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{updatetime,jdbcType=INTEGER}, 
      #{mText,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qianlima.application.domain.qianlima.ZdyXmZdWithBLOBs">
    insert into zdy_xm_zd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="contentid != null">
        contentid,
      </if>
      <if test="datastatus != null">
        datastatus,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="mText != null">
        m_text,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=INTEGER},
      </if>
      <if test="contentid != null">
        #{contentid,jdbcType=INTEGER},
      </if>
      <if test="datastatus != null">
        #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="mText != null">
        #{mText,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianlima.application.domain.qianlima.ZdyXmZdWithBLOBs">
    update zdy_xm_zd
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=INTEGER},
      </if>
      <if test="contentid != null">
        contentid = #{contentid,jdbcType=INTEGER},
      </if>
      <if test="datastatus != null">
        datastatus = #{datastatus,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="mText != null">
        m_text = #{mText,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qianlima.application.domain.qianlima.ZdyXmZdWithBLOBs">
    update zdy_xm_zd
    set uid = #{uid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=INTEGER},
      contentid = #{contentid,jdbcType=INTEGER},
      datastatus = #{datastatus,jdbcType=INTEGER},
      mid = #{mid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=INTEGER},
      m_text = #{mText,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianlima.application.domain.qianlima.ZdyXmZd">
    update zdy_xm_zd
    set uid = #{uid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=INTEGER},
      contentid = #{contentid,jdbcType=INTEGER},
      datastatus = #{datastatus,jdbcType=INTEGER},
      mid = #{mid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) from zdy_xm_zd where status <![CDATA[ <> ]]> 2 AND uid=#{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserIdAndContentId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zdy_xm_zd
    where uid = #{uid,jdbcType=INTEGER} and contentid = #{contentid,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zdy_xm_zd
    where uid = #{userId,jdbcType=INTEGER} and status <![CDATA[ <> ]]> 2
  </select>
</mapper>